.navbar-default .navbar-nav>li>a {
	color: #015b9a;
}
.hidden {display: block!important}

/* index */

.col-md-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.img-sand{
	background-image: url("../img/web-1.jpg");
}
.img-sand:hover, .img-green:hover{
	opacity: 0.5;
}
.img-green{
	background-image: url("../img/web-2.jpg");
}
.img-webDesign {
	background-image: url("../img/web-3.jpg");
}
.img-webCoffee {
	background-image: url("../img/web-4.jpg");
}
.img-sand, .img-green, .img-webDesign, .img-webCoffee {
	display: block;
	width: 100%;
	height: 400px;
	
}
.werk {
	margin-top: 50px;
}
.picture {
	max-width: 100%;
	position: relative;
	right: -539px;
}
.col-md-7 {
	margin-top: 20px;
}
.col-md-7 h2{
	padding-left: 15px;
	font-size: 56px;
}
.col-md-7 .text p {
	margin: 30px 15px 10px;
	font-size: 29px;
}
.col-md-5 {
	padding: 15px;
	margin-top: 20px;
}
.line {
	border: none;
	border-top: 1px solid #c1c1c1;
	width: 80%;
	margin-top: 15px;
}

/* over mij */

.col-md-9{
	width: 100%;
	height: 600px;
	background-color: #015b9a;
	z-index: -1000;
	position: relative;
}
.kleur{
	background-color: #ccd0e8;
}
.witblokje {
	width: 100px;
	height: 50px;
	background-color: #fff;
	border-bottom-right-radius: 110px;
	border-bottom-left-radius: 110px;
	position: absolute;
	left: 48%;
}
.profileFoto {
	width: 50%;
	display: block;
	margin: 0 auto;
	position: absolute;
}

/* vaardigheden */
/* grafiek bar */
.koptekst {
	margin-left: 10%;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	color: #3f3f3f;
}
#vierkant {
	width: 600px;
	margin: 0 auto;
	text-align: left;
}
#chart {
	list-style: none;
}
#chart li, #chart li span {
	height: 20px;
}
#chart li .percent {
	width: 30px;
	position: absolute;
	top: 0;
	right: -40px;
	text-align: right;
}
#chart li {
	position: relative;
	display: block;
	width: 554px;
	margin: 0 0 5px 5px;
	text-align: left;
}
#chart li .bar {
	width: 0;
}
.green .bar {
	background: #007EFF;
	border-radius: 3%;
	border-bottom: 1px solid #fff;
}
.titel{
	font-size: 15px;
	padding: 5px;
	margin: 0;
	color: #fff;
 	font-weight: 700;
 	color: #3f3f3f;
}
#barColor {
	background: #F8D3A0;
}

/* vrije tijd */
.Hobby, .size {
	background-color: #f1f1f1;
}
.size {
	height: 80px;
	width: 80%;
}
.icon img {
	width: 60%;
}

/* Services page */
.rondje {
	display: block;
    position: absolute;
    left: 50%;
    top: 23%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border: 5px solid #015B9A;
    border-radius: 10px;
}
.rondje-2, .rondje-3 {
	display: block;
    position: absolute;
    left: 50%;
    
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border: 5px solid #015B9A;
    border-radius: 10px;
}
.rondje-3 {
	margin-top: 87px;
}
.fase-1{
	margin-top: 130px;
}
.hoofd{
	margin: 0 0 20px 0;
}
.streep {
	position: absolute;
    left: 50%;
    top: 26%;
    height: 63%;
    border-left: 1px solid #015B9A;
    z-index: -100;
}
.streep-2 {
	position: absolute;
    left: 50%;
    margin-top: 5px;
    height: 63%;
    border-left: 1px solid #015B9A;
    z-index: -100;
}
.streep-3 {
	position: absolute;
    left: 50%;
    margin-top: 5px;
    height: 63%;
    border-left: 1px solid #015B9A;
    z-index: -100;
}
.verhaal, .verhaal-2, .verhaal-3 {
	height: 900px;
}
.kop-1{
	text-align: center;
	font-size: 5em;
	color: #015B9A;
}
.kop-2{
	text-align: left;
	font-size: 3em;
	color: #015B9A;
}
.linksBoven, .midden, .rechtsBeneden {
	float: none;
	/*position: absolute;*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 25%;
}
.linksBoven {
	margin: 20px 0 0 20px;
}
.midden{
	/*position: absolute;*/
	top: 60%;
}
.midden img{
	width: 70%;
}
.rechtsBeneden {
	margin: 20px 20px 0 0;
	float: right;
}


/* =========================== news page ================*/
.news {
	background: #fff;
	height: 100%;
	margin-bottom: 20px;
}
.latest, .newsPics {
	float: none;
	border-top: 3px solid #015B9A;
	border-bottom: 3px solid #015B9A;
	height: 500px;
	background: #fff;
	width: 100%
}
.newsPics {
	margin-top: 20px;
}
.newsCollum-1, .newsCollum-2, .newsCollum-3, .newsImg-1, .newsImg-2, .newsImg-3 {
	height: 190px;
	background: #fff;
	margin: 15px 30px 15px 30px;
	padding-left: 20px;
	padding-right: 20px;
	width: 25%;
}
.newsImg-1, .newsImg-2, .newsImg-3 {
	padding: 0;
	height: 295px;
}
.newsImg-1 img, .newsImg-2 img, .newsImg-3 img {
	width: 100%;
}
.newsCollum-1, .newsImg-1 {
	position: absolute;
	left: 2%;
}
.newsCollum-2, .newsImg-2 {
	position: absolute;
	left: 35%;

}
.newsCollum-3, .newsImg-3 {
	position: absolute;
	left: 68%;

}
.newsTekst{
	color: red;
}
.date{
	color: #c4c4c4;
}

/* ================================ Contact Page ===================== */
.webContact {
	background: #fff;
}
form {
	float: left;
	width: 100%;
	font-size: 14px;
	line-height: 18px;
}
form label {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
form input {
	padding: 15px 5%;
	width: 90%;
	color: #444;
	background: #eee;
	margin: 0 0 20px 0;
	border-radius: 2px;
	border: 1px solid #ddd;
}
input[type=submit] {
	font-size: 14px;
	line-height: 18px;
	background: #015B9A;
	color: #fff;
	float: left;
	letter-spacing: 1px;
	border: none;
	border-radius: 2px;
	text-align: center;
	margin-bottom: 0;
	width: auto;
}
/* Footer */
.footer{
	background: #070940;
	height: 250px;
}
.footerBlock {
	margin: 20px auto;
	display: block;
	float: none;
	height: 155px;
	width: 80%;
}
.footerCol {
	height: 190px;
	margin-top: 5px;
	padding: 20px;
	width: 27%;

}
.hoofdkop{
	font-size: 20px;
	color: #fff;
}
.gegevens, .sitemap {
	list-style: none;
}
a {
	color: #fff;
}
a:hover {
	text-decoration: none;
	color: #F8D3A0;
	font-size: 18px;
	transition: 0.5s;
}
.gegevens li, .sitemap li {
	color: #fff;
}
.lijn {
	width: 1px;
	height: 160px;
	border-right: 1px solid #fff;
	margin-top: 20px;
}
.socialMedia {
	width: 24%;
	height: 55px;
	padding: 0;
}
.socialMedia img {
	width: 80%;
}